html,
body,
#root,
index-main {
  height: 100%;
  margin: 0;
}
*,
*:before,
*:after {
  -moz-user-select: none;
  -webkit-user-select: none;
  margin: 0;
  outline: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input, input:before, input:after {
  -webkit-user-select: initial;
  -khtml-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
 } 

/* MAIN SECTION */

#nav-main {
  z-index: 9999;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.nav-main {
    display: flex;
    justify-content: space-around;
  background: rgba(6,0,6,0.87);
  padding: 0;
  margin: 0;
  min-height: 5vh;
  max-height: 5vh;
}
.nav-main li {
  list-style-type: none;
}

.home-link {
  /* font-family: -apple-system, BlinkMacSystemFont, sans-serif; */
  font-size: 25px;
  border: none;
  color: #be9b64;
  outline: none;
  margin-top: auto;
  margin-bottom: auto;
  cursor: pointer;
  font-style: italic;
}

.products-link,
.sign-in-link,
.sign-up-link,
.contact-us-link {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 14px;
  border: none;
  color: #be9b64;
  outline: none;
  list-style-type: none;
  margin-top: auto;
  margin-bottom: auto;
}

.products-link:hover,
.sign-in-link:hover,
.sign-up-link:hover,
.contact-us-link:hover {
  color: white;
  cursor: pointer;
}

/* Search Section */

.search-icon {
  font-size: 19px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  margin-right: 10px;
}
.search-icon:hover {
  color: white;
  cursor: pointer;
}

.search-field {
  display: none;
  border: none;
  border-radius: 6px;
  height: 5vh;
  width: 70%;
  animation-name: search;
  animation-duration: 1s;
  animation-direction: reverse;
  outline: none;
  background: none;
  color: darkgray;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
}

@keyframes search {
  from {
    width: 70%;
  }
  to {
    width: 0;
  }
}

.search-form {
  margin-top: auto;
  margin-bottom: auto;
}

.search-exit-container {
  display: none;
  margin-left: 10px;
}

.search-exit {
  font-size: 19px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-weight: normal;
}
.search-exit:hover {
  color: white;
  cursor: pointer;
}

/* Cart-Section */

.cart-main {
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
  padding: 0;
  display: inline-block;
}

.cart-main svg {
  position: absolute;
  margin-right: 10px;
  font-size: 2vh;
  cursor: pointer;
}

.cart-main svg path {
  fill:#be9b64;
}

.cart-icon {
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  color: #be9b64;
  margin-top: auto;
  margin-bottom: auto;
}

.cart-count {
  display: inline-block;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  margin-top: auto;
  margin-bottom: auto;
  cursor: pointer;
  background-color: #be9b64;
  height: 16px;
  width: 16px;
  text-align: center;
  border-radius: 12px;
  font-size: 12px;
  color: rgba(6,0,6,0.87);
  position: absolute;
  top: -15px;
  left: 4px;
}

.delete_btn {
    margin: 1.6vh auto 0px auto;
    background-color: red;
    border-radius: 6px;
    border: 1px solid red;
    padding: 6px;
    color: white;
    font-weight: 600;
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.delete_btn:hover{
    border:none;
    background-color: darkred;
}

/* New Arrivals section */
.new-arrivals-container {
  display: flex;
  margin-top: 0.5%;
}

.next-arrow {
  margin: auto;
  font-size: 30px;
  cursor: pointer;
  color: rgba(6,0,6,0.87);
}
.prev-arrow {
  margin: auto;
  font-size: 30px;
  cursor: pointer;
  color: rgba(6,0,6,0.87);
}

.next-arrow:hover,
.prev-arrow:hover {
  color: rgb(43, 43, 42);
  cursor: pointer;
}

.show {
    width: 36vw;
    height: 52vh;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.hide {
  display: none;
}

/* Featured section */

.featured-products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 70px;
  text-align: center;
}

.featured-show {
  height: 200px;
  width: 200px;
  margin: auto;
  cursor: pointer;
  display: block;
}
.price-add {
  margin-top: 20px;
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: 1fr;
}

.add-to-cart-button {
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    border-radius: 6px;
    border: 1px solid rgba(6,0,6,0.87);
    background-color: rgba(6,0,6,0.87);
    color: #be9b64;
    cursor: pointer;
    outline: none;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1.6vh;
    padding: 1vh;
}
.add-to-cart-button:hover {
  background-color: rgb(43, 43, 42);
  border: none;
}

.add-to-cart-icon {
  font-size: 12px;
  color: #be9b64;
  margin-left: 5px;
  cursor: pointer;
}

.price-add span {
  font-size: 13px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 600;
  margin-top: 1.2vh;
}

.total {
    font-size: 30px;
    align-self: center;
}

/* Products Section */

.products-main {
  display: grid;
  grid-template-columns: 0.7fr 5fr;
  min-height: 91vh;
}

.products-category-selection-menu {
  background-color: rgba(6,0,6,0.87);
  color: #009688;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  text-align: center;
  padding-top: 10px;
}
.category-link {
  display: block;
  text-decoration: none;
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  color: #be9b64;
  border: none;
  background-color: transparent;
  position: fixed;
  top: 60px;
  left: 4%;
  cursor: pointer;
}
.category-link-two {
  display: block;
  text-decoration: none;
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  color: #be9b64;
  border: none;
  background-color: transparent;
  position: fixed;
  top: 90px;
  left: 4%;
  cursor: pointer;
}
.category-link:visited,
.category-link-two {
  color: #be9b64;
  text-decoration: none;
}
.category-link:hover,
.category-link-two:hover {
  color: #be9b64;
}

.products-list-section {
    display: flex;
    flex-flow: wrap;
    text-align: center;
    padding-top: 10px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    padding-top: 20px;
    min-height: 91vh;
}

/* Sign-up */
.sign-up {
  padding-top: 20px;
  min-height: 91vh;
  background-color: rgba(6,0,6,0.87);

}
.sign-up form {
  display: grid;
  grid-template-columns: 1fr;
}

.validation-errors {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    color: #bf0000d6;
    background: rgba(6,0,6,.87);
    text-align: center;
    font-size: 12px;
    padding-top: 3vh;
    list-style-type: disc;
}
.first-last-input {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.first-last-input :nth-child(1),
.first-last-input :nth-child(2) {
  margin-top: 10px;
  margin-right:12px;
  margin-bottom: 20px;
  border: 1px solid #c6c6cb;
  border-radius: 6px;
  padding: 9px;
  font-size: 17px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: #fff;
  color: #333;
}

.input {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  border: 1px solid darkgray;
  border-radius: 6px;
  padding: 9px;
  font-size: 17px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: #fff;
  color: #333;
}


.country-select {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  border: 1px solid #c6c6cb;
  border-radius: 6px;
  padding: 9px;
  font-size: 17px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: #fff;
  color: #333;
}
.sign-up-input,
.contact-us button {
  margin-right: auto;
  margin-left: auto;
  font-size: 19px;
  padding: 5px 20px 5px 20px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: rgba(6,0,6,0.87);
  color: #be9b64;
  border: 1px solid #be9b64;
  border-radius: 6px;
  cursor: pointer;
  width:188px;
}

/* Sign-in */
.sign-in {
  padding-top: 20px;
  min-height: 91vh;
  background: rgba(6,0,6,.87);
}
.sign-in form {
  display: grid;
  grid-template-columns: 1fr;
}

.sign-in a {
  margin-top:6px;
  background-color:transparent;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  text-align: start;
  color:blue;
  text-decoration: none;
}

.sign-in a:visited{
  color:blue;
}
.password-reset {
  padding-top: 20px;
    min-height: 91vh;
    background: rgba(6,0,6,.87);
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
}

.password-reset p{
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 12px;
  margin-bottom: 9px;
  color:#be9b64;
}



.forgot-password-button {
  margin-right: auto;
  margin-left: auto;
  margin-top: 12px;
  width: 188px;
  font-size: 12px;
}


/* Contact-us */
.contact-us {
  padding-top: 20px;
  min-height: 91vh;
  background-color: rgba(6,0,6,0.87);
}
.contact-us form {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
}
.contact-us .input {
    max-width: 75vw;
}

/* Footer */
.footer {
  margin-top: 0;
  background: rgba(6,0,6,0.87);
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 13px;
  letter-spacing: 0.001mm;
  padding-bottom: 10px;
  color: #be9b64;
}
.footer span a {
  margin-right: 10px;
  color: #be9b64;
  text-decoration: none;
}
.footer span a:visited {
  color: #be9b64;
}

.menu-bars {
  display: none;
  color: #be9b64;
}

/* Product Details */

.product-details img {
  height: 50vh;
}

.product-details > div {
  text-align: center;
}

.product-details h1 {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}


.menu-bars svg{
  width:7vw;
}
/* ************************************Responsiveness*************************************** */
@media screen and (max-width: 500px) {
  .nav-main {
    grid-template-columns: 33.3333% 33.3333% 33.333%;
    min-height: 6vh;
    max-height: 6vh;
    min-width: 100vw;
  }
  .home-link {
    font-size:3vh;
  }
  .first-li {
    display: none;
  }
  .last-li {
    display: none;
  }
  .menu-bars {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
  }
  .products-link {
    display: none;
  }
  .sign-in-link {
    display: none;
  }
  .sign-up-link {
    display: none;
  }
  .contact-us-link {
    display: none;
  }
  .search-icon {
    display: none;
  }
  .search-form {
    display: none;
  }
  .cart-main {
    text-align: center;
  }

  .cart-main svg{
    position:unset;
    font-size: 3vh;
  }
  .home-link {
    text-align: center;
  }
  .show {
    width: 250px;
    height: 250px;
  }
  .featured-products {
    grid-template-columns: 1fr;
  }
  .menu-items {
    background: rgba(6,0,6,0.87);
    animation-name: menu-items;
    animation-duration: 1s;
    height:94vh;
  }
  @keyframes menu-items {
  from {height: 0vh;}
  to {height: 94vh}
}
  .search-icon-menu {
    font-size: 30px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    margin-left: 10px;
    margin-right: 10px;
  }
  .search-field-menu {
    border: none;
    border-radius: 6px;
    height: 5vh;
    width: 100%;
    outline: none;
    background: none;
    color: #e91e63;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 19px;
    background-color: darkgray;
  }
  .search-form-menu {
    padding: 3vw 12vw 3vw 10vw;
    border-bottom: 1px solid #ccd18e5e;
  }
  .nav-main-menu {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
    margin-top: 20px;
    color: #be9b64;
  }
  .nav-main-menu li {
    list-style-type: none;
    margin: auto;
    margin-bottom: 10px;
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    border-bottom: 1px solid #ccd18e5e;
    padding-bottom: 10px;
    min-width: 70vw;
  }
  .cart-icon {
    font-size: 2.6vh;
  }
  .cart-count {
    font-size: 2.6vh;
  }


.first-last-input :nth-child(1),
.first-last-input :nth-child(2) {
  margin-right:0;
}

.country-select{
  width: 62vw;
}
  .products-main {
    grid-template-columns: 1fr;
  }
  .products-list-section {
    grid-template-columns: 1fr;
  }
  .products-list-section > div {
      margin-right: auto;
      margin-left: auto;
  }
  .products-category-selection-menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 0;
  }
  .category-link,
  .category-link-two {
    position: unset;
    font-size: 20px;
    border-top: 1px solid #b2ebf25e;
    padding: 5px;
  }
  .products-category-selection-menu :nth-child(odd) {
    border-right: 2px solid #b2ebf25e;
  }
  .sign-up {
    min-height: 100vh;
  }
  .contact-us {
    min-height: 100vh;
  }
  .add-to-cart-button {
    font-size: 26px;
  }
  .add-to-cart-icon {
    font-size: 20px;
  }
  .price-add span {
    font-size: 21px;
  }
  .price-add span select {
    font-size: 20px;
  }

}
@media screen and (min-width: 501px) and (max-width: 768px) {
  .nav-main {
    grid-template-columns: 33.3333% 33.3333% 33.333%;
    min-height: 6vh;
    max-height: 6vh;
    min-width: 100vw;
  }
  .first-li {
    display: none;
  }
  .last-li {
    display: none;
  }
  .menu-bars {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
  }
  .products-link {
    display: none;
  }
  .sign-in-link {
    display: none;
  }
  .sign-up-link {
    display: none;
  }
  .contact-us-link {
    display: none;
  }
  .search-icon {
    display: none;
  }
  .search-form {
    display: none;
  }
  .cart-main {
    text-align: center;
  }
  .cart-main svg{
    position:unset;
    font-size: 3vh;
  }
  .home-link {
    text-align: center;
    font-size:3vh;   
  }
  .show {
    width: 300px;
    height: 300px;
  }
  .featured-products {
    grid-template-columns: 1fr 1fr;
  }
  .menu-items {
    background: rgba(6,0,6,0.87);
    animation-name: menu-items;
    animation-duration: 1s;
    height:94vh;
  }
  @keyframes menu-items {
  from {height: 0vh;}
  to {height: 94vh}
}
  .search-icon-menu {
    font-size: 30px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    margin-left: 10px;
    margin-right: 10px;
  }
  .search-field-menu {
    border: none;
    border-radius: 6px;
    height: 5vh;
    width: 100%;
    outline: none;
    background: none;
    color: #e91e63;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 19px;
    background-color: darkgray;
  }
  .search-form-menu {
    padding: 3vw 12vw 3vw 10vw;
    border-bottom: 1px solid #ccd18e5e;
  }
  .nav-main-menu {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
    margin-top: 20px;
    color: #be9b64;
  }
  .nav-main-menu li {
    list-style-type: none;
    margin: auto;
    margin-bottom: 10px;
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    border-bottom: 1px solid #ccd18e5e;
    padding-bottom: 10px;
    min-width: 70vw;
  }
  .cart-icon {
    font-size: 27px;
  }
  .cart-count {
    font-size: 27px;
  }
  .products-main {
    grid-template-columns: 1fr;
  }
  .products-list-section {
    grid-template-columns: 1fr 1fr;
  }
  .products-category-selection-menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 0;
  }
  .category-link,
  .category-link-two {
    position: unset;
    font-size: 40px;
    border-top: 1px solid #b2ebf25e;
    padding: 5px;
  }
  .products-category-selection-menu :nth-child(odd) {
    border-right: 2px solid #b2ebf25e;
  }
  .sign-up {
    min-height: 100vh;
  }
  .contact-us {
    min-height: 100vh;
  }
  .add-to-cart-button {
    font-size: 26px;
  }
  .add-to-cart-icon {
    font-size: 20px;
  }
  .price-add span {
    font-size: 21px;
  }
  .price-add span select {
    font-size: 20px;
  }
}
